@charset "UTF-8";
/* WEB EN CONSTRUCCION*/
body {
  color: #bb86fc;
  background-color: #121212;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/backg.jpg");
  font-family: 'Cairo', sans-serif;
  font-weight: 200;
  z-index: 1; }

html {
  background: #123; }

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
  z-index: 1; }

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate; }

body::before {
  text-shadow: 1.49153em -0.196em 7px rgba(102, 0, 255, 0.9), 2.00045em 0.93993em 7px rgba(255, 57, 0, 0.9), 0.51476em 1.63172em 7px rgba(0, 203, 255, 0.9), -0.23873em 0.8308em 7px rgba(204, 255, 0, 0.9), 0.6171em 2.30259em 7px rgba(255, 0, 123, 0.9), 1.52418em 0.96532em 7px rgba(43, 255, 0, 0.9), 1.06214em 0.50479em 7px rgba(87, 0, 255, 0.9), 0.06245em -0.15576em 7px rgba(0, 255, 110, 0.9), -0.26735em 1.52454em 7px rgba(255, 0, 63, 0.9), 0.64285em 1.07534em 7px rgba(0, 255, 188, 0.9), 1.20875em 0.8485em 7px rgba(199, 0, 255, 0.9), 0.99085em 0.2917em 7px rgba(255, 88, 0, 0.9), 0.34584em 1.07838em 7px rgba(0, 255, 224, 0.9), 1.87356em 0.90002em 7px rgba(0, 255, 79, 0.9), 1.66621em 1.22328em 7px rgba(255, 0, 116, 0.9), 1.92487em 0.55239em 7px rgba(0, 255, 15, 0.9), 1.95015em -0.14802em 7px rgba(118, 0, 255, 0.9), 0.68951em 1.92879em 7px rgba(0, 255, 181, 0.9), 1.51464em 0.60903em 7px rgba(255, 102, 0, 0.9), 2.20958em 2.2417em 7px rgba(245, 255, 0, 0.9), 0.38178em 2.06495em 7px rgba(76, 255, 0, 0.9), 0.55896em -0.06248em 7px rgba(255, 33, 0, 0.9), 2.18608em -0.10062em 7px rgba(255, 99, 0, 0.9), 1.44939em 0.51198em 7px rgba(255, 0, 122, 0.9), -0.48244em 0.18618em 7px rgba(0, 255, 252, 0.9), 1.25208em 0.3216em 7px rgba(255, 0, 133, 0.9), 0.93079em 1.74138em 7px rgba(157, 255, 0, 0.9), 0.68131em 1.39411em 7px rgba(240, 255, 0, 0.9), 2.04298em 2.34211em 7px rgba(0, 255, 6, 0.9), -0.33769em 2.09551em 7px rgba(106, 0, 255, 0.9), 1.37157em 0.37532em 7px rgba(0, 48, 255, 0.9), 1.10641em 2.10427em 7px rgba(0, 255, 186, 0.9), 1.98738em 2.15481em 7px rgba(0, 39, 255, 0.9), 0.81464em 0.0683em 7px rgba(176, 0, 255, 0.9), 0.80396em 2.37674em 7px rgba(255, 0, 16, 0.9), 1.77107em 1.72833em 7px rgba(202, 255, 0, 0.9), 0.93904em 2.4691em 7px rgba(255, 0, 229, 0.9), 0.33379em 0.30353em 7px rgba(121, 255, 0, 0.9), 1.19131em -0.19664em 7px rgba(108, 0, 255, 0.9), -0.26497em 1.04142em 7px rgba(255, 0, 19, 0.9), 2.17375em 1.6225em 7px rgba(255, 0, 149, 0.9);
  animation-duration: 44s;
  animation-delay: -27s; }

body::after {
  text-shadow: -0.15643em 1.32765em 7px rgba(255, 49, 0, 0.9), 1.22649em 2.38416em 7px rgba(255, 97, 0, 0.9), 1.74904em -0.26181em 7px rgba(59, 255, 0, 0.9), 0.10244em 1.48203em 7px rgba(0, 255, 136, 0.9), 1.57202em 1.92741em 7px rgba(255, 3, 0, 0.9), 0.86191em 2.35198em 7px rgba(255, 58, 0, 0.9), -0.11709em -0.02822em 7px rgba(255, 53, 0, 0.9), 2.30678em 0.29205em 7px rgba(255, 0, 187, 0.9), 0.75373em 0.51883em 7px rgba(255, 0, 221, 0.9), 2.04595em 1.48899em 7px rgba(0, 73, 255, 0.9), 1.15449em 0.24237em 7px rgba(255, 0, 62, 0.9), 2.10492em 0.32366em 7px rgba(0, 105, 255, 0.9), 0.87209em 1.81048em 7px rgba(255, 0, 173, 0.9), 2.0441em 0.70483em 7px rgba(255, 128, 0, 0.9), -0.33162em 0.51681em 7px rgba(0, 255, 62, 0.9), 2.35383em 1.90579em 7px rgba(255, 0, 11, 0.9), 1.82217em -0.46646em 7px rgba(0, 255, 19, 0.9), 1.83206em -0.02435em 7px rgba(0, 255, 160, 0.9), 0.27155em 2.10605em 7px rgba(255, 180, 0, 0.9), -0.48811em 0.12185em 7px rgba(0, 14, 255, 0.9), -0.01381em -0.12763em 7px rgba(255, 141, 0, 0.9), 0.54448em 1.3647em 7px rgba(228, 255, 0, 0.9), 1.47527em 2.30031em 7px rgba(255, 123, 0, 0.9), 1.82234em 2.1725em 7px rgba(0, 255, 42, 0.9), 0.61314em 1.2527em 7px rgba(255, 0, 117, 0.9), 1.25567em 0.80759em 7px rgba(255, 222, 0, 0.9), 1.03609em 0.64541em 7px rgba(0, 255, 92, 0.9), 0.93071em 1.60526em 7px rgba(0, 255, 41, 0.9), -0.13859em 0.37215em 7px rgba(210, 255, 0, 0.9), 1.82173em 0.87853em 7px rgba(0, 102, 255, 0.9), 1.01201em 0.96859em 7px rgba(177, 0, 255, 0.9), 0.92462em 2.46512em 7px rgba(129, 0, 255, 0.9), 1.30475em 0.49015em 7px rgba(0, 151, 255, 0.9), 0.12504em 1.22776em 7px rgba(246, 255, 0, 0.9), 0.37747em 0.53859em 7px rgba(171, 0, 255, 0.9), -0.42777em 1.75425em 7px rgba(141, 255, 0, 0.9), -0.2344em 0.00753em 7px rgba(255, 0, 238, 0.9), 2.33368em -0.15674em 7px rgba(242, 0, 255, 0.9), 2.26483em 0.60299em 7px rgba(128, 0, 255, 0.9), 0.66264em 1.28574em 7px rgba(255, 94, 0, 0.9), 0.8508em -0.24765em 7px rgba(255, 8, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s; }

head::before {
  text-shadow: 0.22197em 0.87442em 7px rgba(0, 239, 255, 0.9), -0.02389em 0.36345em 7px rgba(0, 64, 255, 0.9), 1.71387em 0.26017em 7px rgba(48, 255, 0, 0.9), -0.12823em 2.07106em 7px rgba(184, 0, 255, 0.9), 0.3662em 1.60949em 7px rgba(0, 255, 38, 0.9), 1.41827em 0.09922em 7px rgba(246, 0, 255, 0.9), 0.617em -0.12255em 7px rgba(255, 0, 146, 0.9), 0.39753em 1.1819em 7px rgba(255, 36, 0, 0.9), 0.34322em 1.0248em 7px rgba(43, 0, 255, 0.9), 0.15167em 2.11877em 7px rgba(28, 255, 0, 0.9), 0.20489em 1.30483em 7px rgba(0, 255, 241, 0.9), 0.99051em 2.15538em 7px rgba(227, 0, 255, 0.9), 0.17965em 1.03087em 7px rgba(11, 0, 255, 0.9), 0.14255em 0.74773em 7px rgba(252, 0, 255, 0.9), 1.84929em 0.37654em 7px rgba(0, 255, 91, 0.9), 0.71757em 1.31987em 7px rgba(0, 255, 180, 0.9), -0.48888em 1.95275em 7px rgba(0, 71, 255, 0.9), 2.29835em -0.23821em 7px rgba(0, 237, 255, 0.9), 0.41098em 0.13973em 7px rgba(255, 0, 85, 0.9), 1.98794em -0.33104em 7px rgba(107, 0, 255, 0.9), 0.22383em -0.00909em 7px rgba(255, 37, 0, 0.9), 1.2134em -0.23166em 7px rgba(0, 255, 154, 0.9), 2.44256em 1.43303em 7px rgba(196, 255, 0, 0.9), 0.25167em -0.02727em 7px rgba(255, 230, 0, 0.9), 1.53026em 2.49612em 7px rgba(106, 255, 0, 0.9), 1.42594em 0.21995em 7px rgba(255, 0, 19, 0.9), 0.47412em 2.38454em 7px rgba(255, 50, 0, 0.9), 1.95406em 0.86562em 7px rgba(255, 0, 22, 0.9), 1.35579em 1.20347em 7px rgba(223, 255, 0, 0.9), 1.46746em 1.76264em 7px rgba(255, 0, 31, 0.9), 0.77229em 1.30579em 7px rgba(0, 39, 255, 0.9), 1.37503em 0.28576em 7px rgba(0, 255, 160, 0.9), -0.1297em 1.99371em 7px rgba(255, 0, 159, 0.9), 2.07072em 0.9453em 7px rgba(255, 0, 100, 0.9), 0.42645em 0.08611em 7px rgba(0, 19, 255, 0.9), 2.34313em 1.18763em 7px rgba(0, 255, 173, 0.9), 0.40279em 1.50192em 7px rgba(163, 0, 255, 0.9), -0.38478em 2.4263em 7px rgba(86, 255, 0, 0.9), -0.12549em 2.43475em 7px rgba(47, 255, 0, 0.9), 0.64473em 0.81342em 7px rgba(0, 255, 129, 0.9), 1.80653em 0.32101em 7px rgba(255, 25, 0, 0.9);
  animation-duration: 42s;
  animation-delay: -23s; }

head::after {
  text-shadow: 0.19484em 0.12963em 7px rgba(0, 49, 255, 0.9), 1.93186em 1.19637em 7px rgba(165, 255, 0, 0.9), 0.01852em 0.43725em 7px rgba(255, 195, 0, 0.9), 2.1957em 1.01511em 7px rgba(202, 0, 255, 0.9), 1.87449em 1.42233em 7px rgba(0, 255, 8, 0.9), 0.1267em 1.22895em 7px rgba(115, 0, 255, 0.9), 1.83569em -0.3534em 7px rgba(0, 181, 255, 0.9), 0.82324em 1.64776em 7px rgba(255, 156, 0, 0.9), -0.05841em 1.43137em 7px rgba(255, 0, 128, 0.9), 1.61926em 0.72553em 7px rgba(255, 0, 44, 0.9), 0.36699em 0.75786em 7px rgba(255, 1, 0, 0.9), 1.82767em 0.13327em 7px rgba(255, 190, 0, 0.9), 0.55419em 1.9295em 7px rgba(191, 0, 255, 0.9), 2.32638em -0.27113em 7px rgba(78, 255, 0, 0.9), 0.06858em 1.53701em 7px rgba(0, 104, 255, 0.9), 0.63156em 0.32452em 7px rgba(255, 0, 133, 0.9), 1.73847em 1.64906em 7px rgba(178, 0, 255, 0.9), 1.04453em -0.33218em 7px rgba(51, 0, 255, 0.9), 0.28768em 1.36505em 7px rgba(114, 0, 255, 0.9), 1.42291em 1.78672em 7px rgba(0, 255, 68, 0.9), 1.26342em 2.4518em 7px rgba(0, 255, 96, 0.9), 1.78569em 1.82103em 7px rgba(0, 130, 255, 0.9), 2.45293em 1.1664em 7px rgba(0, 255, 60, 0.9), -0.13897em -0.11726em 7px rgba(0, 113, 255, 0.9), 0.57041em 0.16648em 7px rgba(0, 255, 153, 0.9), 1.93833em 1.53806em 7px rgba(255, 60, 0, 0.9), 1.48748em 2.35102em 7px rgba(255, 0, 206, 0.9), 0.21839em 0.71401em 7px rgba(0, 8, 255, 0.9), 0.49438em 2.14774em 7px rgba(231, 0, 255, 0.9), 0.2125em 0.53884em 7px rgba(0, 2, 255, 0.9), 1.64324em 1.41003em 7px rgba(255, 179, 0, 0.9), 1.29676em 0.55877em 7px rgba(255, 226, 0, 0.9), 1.44645em 0.62087em 7px rgba(0, 187, 255, 0.9), 0.68905em 1.21507em 7px rgba(255, 33, 0, 0.9), 1.89567em 0.50293em 7px rgba(48, 0, 255, 0.9), 0.24092em 0.97718em 7px rgba(0, 99, 255, 0.9), 2.1936em 0.14497em 7px rgba(63, 255, 0, 0.9), 1.38846em 1.91983em 7px rgba(117, 0, 255, 0.9), 2.35951em 0.01563em 7px rgba(232, 255, 0, 0.9), 2.26465em 0.02089em 7px rgba(243, 0, 255, 0.9), 0.44563em 1.47322em 7px rgba(0, 255, 28, 0.9);
  animation-duration: 41s;
  animation-delay: -19s; }

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px); }
  to {
    transform: rotate(360deg) scale(18) translateX(20px); } }

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 4rem;
  justify-content: space-around;
  top: 0;
  position: sticky;
  z-index: 3;
  /* MENU DE NAVEGACION */
  /* Submenu para displays pequeños e inlineblock */ }
  header .qrar {
    display: flex;
    max-width: 8rem;
    max-height: 8rem;
    -webkit-animation: jackInTheBox 2s;
    animation: jackInTheBox 2s;
    margin: 1rem; }
  header nav {
    background-color: #332940;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2rem;
    border-radius: 3rem;
    background: rgba(187, 134, 252, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.18); }
  header .list {
    list-style: none;
    display: flex;
    align-content: center;
    text-align: center;
    margin: auto auto;
    position: relative;
    -webkit-animation: fadeInDown 2s;
    animation: fadeInDown 2s; }
  header .itemList a {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 3rem;
    text-decoration: none;
    color: #FF0080;
    font-size: 1.2rem;
    font-family: 'Cairo', sans-serif; }
  header nav a:hover {
    -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
    filter: drop-shadow(#FF0080);
    -webkit-animation: flash 3s;
    animation: flash 3s; }
  header nav a:focus {
    -webkit-animation: fadeOutUp 1s;
    animation: fadeOutUp 1s; }
  header .subMenu {
    display: none; }
  header .subList {
    display: none; }
  header .subItem {
    list-style: none;
    align-content: center;
    justify-content: center;
    margin-right: 3rem;
    text-decoration: none;
    color: #FF0080;
    font-size: 1.2rem; }

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .list {
    list-style: none;
    text-decoration: none; }
  .subMenu:hover > .subList {
    display: block;
    transition: height 2s; }
  .subMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    align-items: center;
    max-width: 2rem;
    color: #FF0080;
    font-size: 1.2rem; }
  .subMenu a {
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: #FF0080;
    font-size: 1.2rem;
    font-family: 'Cairo', sans-serif; }
  .itemList {
    display: none; }
  .subItem a {
    list-style: none;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #FF0080;
    font-size: 1.2rem;
    font-family: 'Cairo', sans-serif;
    animation: fadeIn 2s; } }

.app-container {
  color: #bb86fc;
  background-color: #332940;
  display: grid;
  grid-area: app-container;
  margin: 2rem;
  position: relative;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: skewY(5deg); }

.generadorQr {
  display: flex;
  flex-direction: column;
  border-radius: 3rem; }

.qrimg {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-self: center;
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
  transition: all 2s; }

.qrimg:hover {
  width: 30rem; }

.contador-container {
  display: grid;
  grid-area: contador-container;
  color: #bb86fc;
  background-color: #332940;
  line-height: 3rem;
  position: relative;
  margin: 2rem;
  margin-top: 20rem;
  justify-self: center;
  line-height: 3rem;
  border-radius: 3rem;
  justify-content: center;
  text-align: center;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: skewY(-5deg); }

/*SCROLLBAR*/
/* Width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #121212; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF0080; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa075873; }

/* CONTACTO */
input {
  border-radius: 1rem; }

select {
  border-radius: 1rem; }

.formu-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto auto;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 3rem;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s; }

.g-3 {
  display: flex;
  margin: 3rem;
  padding: 3rem;
  color: #bb86fc; }

.formu {
  color: #bb86fc;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  position: relative;
  padding: 5rem;
  line-height: 2.5rem;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s; }

.checkbox {
  flex-direction: row; }

/* PINTA */
.maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "paleta1 paleta2" "paleta3 paleta4";
  justify-items: center;
  justify-self: center;
  justify-content: space-between;
  -webkit-animation: fadeInUp 2s;
  animation: fadeInUp 2s; }

.map1 {
  grid-area: paleta1;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map2 {
  grid-area: paleta2;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map3 {
  grid-area: paleta3;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map4 {
  grid-area: paleta4;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map1:hover {
  transform: scale(1.5);
  z-index: 1; }

.map2:hover {
  transform: scale(1.5);
  z-index: 1; }

.map3:hover {
  transform: scale(1.5);
  z-index: 1; }

.map4:hover {
  transform: scale(1.5);
  z-index: 1; }

/* HISTORIA */
.paletasColores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "paleta1 paleta2" "paleta3 paleta4";
  justify-items: center;
  justify-self: center;
  justify-content: center;
  margin: 1rem;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s; }

.paleta1 {
  grid-area: paleta1;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

.paleta2 {
  grid-area: paleta2;
  color: whitesmoke;
  background-color: #bb86fc;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

.paleta3 {
  grid-area: paleta3;
  color: whitesmoke;
  background-color: #332940;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

.paleta4 {
  grid-area: paleta4;
  color: whitesmoke;
  background-color: #121212;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

/* QUEES */
table {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 3rem;
  -webkit-animation: fadeInUp 2s;
  animation: fadeInUp 2s; }

th {
  padding: 0.5rem;
  color: #03dac5;
  background-color: #332940;
  font-size: 1.5rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18); }

td {
  padding: 0.5rem;
  background-color: #332940;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18); }

.textSquare {
  background-color: #332940;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  position: relative;
  padding: 1rem;
  border-radius: 3rem; }

footer {
  display: grid;
  grid-area: footer;
  border-radius: 1rem;
  position: relative;
  background: rgba(44, 4, 76, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2; }

.redes {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: #03dac5;
  font-size: 1rem;
  border-radius: 3rem; }

.redes ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding: 20px; }

.redes a {
  text-decoration: none;
  color: #03dac5;
  align-content: center;
  margin-top: 3rem;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080); }

.igimg {
  width: 1.5rem;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080); }

.igimg:hover {
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: none;
  -webkit-animation: flash 4s;
  animation: flash 4s; }

.fbimg {
  width: 1.5rem;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080); }

.fbimg:hover {
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: none;
  -webkit-animation: flash 4s;
  animation: flash 4s; }

.alert {
  background-color: #bb86fc;
  color: #FF0080; }

main {
  color: #bb86fc;
  display: grid;
  position: relative;
  z-index: 2;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "app-container contador-container" "menu-container menu-container";
  justify-content: center; }

h2 {
  color: #bb86fc;
  padding: 2rem;
  margin: 2rem;
  letter-spacing: 0.5rem;
  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  font-weight: 900; }

p {
  margin: 3rem;
  font-family: 'Cairo', sans-serif;
  color: #bb86fc; }

.menu-container {
  display: grid;
  grid-area: menu-container;
  color: #bb86fc;
  background-color: #1F1B24;
  margin: 3rem;
  position: relative;
  justify-self: center;
  text-align: center;
  line-height: 3rem;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2;
  z-index: 3; }
  .menu-container a {
    text-decoration: none;
    color: cadetblue; }
  .menu-container a:hover {
    color: #FF0080; }

h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  -webkit-animation: jackInTheBox 2s;
  animation: jackInTheBox 2s;
  margin: 1rem; }

.buton {
  border-radius: 3rem;
  background-color: #332940;
  color: #FF0080;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 5fr;
  transition: all 2s; }

.buton:hover {
  color: #FF0080;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080);
  margin: 3px;
  transform: scale(1.1, 1); }

.butonMenu {
  display: flex;
  margin: 3rem; }

.butonMenu:hover {
  color: #FF0080;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080); }

a {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: #FF0080;
  font-size: 1.2rem;
  font-family: 'Cairo', sans-serif; }
