/* WEB EN CONSTRUCCION*/
/*imports*/
body {
  color: #bb86fc;
  background-color: #121212;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/backg.jpg");
  font-family: 'Cairo', sans-serif;
  font-weight: 200;
  z-index: 1; }

html {
  background: #123; }

body, head {
  background-size: 200%;
  display: block;
  font-size: 52px;
  color: transparent;
  z-index: 1; }

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate; }

body::before {
  text-shadow: -0.45646em 2.03144em 7px rgba(18, 255, 0, 0.9), 0.88883em 0.90846em 7px rgba(212, 0, 255, 0.9), 0.29906em 2.32442em 7px rgba(255, 0, 232, 0.9), -0.12545em -0.14831em 7px rgba(81, 255, 0, 0.9), -0.26965em 1.48408em 7px rgba(63, 0, 255, 0.9), 1.02123em -0.11978em 7px rgba(115, 255, 0, 0.9), 2.25639em 1.33504em 7px rgba(0, 255, 212, 0.9), -0.01678em 2.12805em 7px rgba(255, 61, 0, 0.9), 0.99398em 1.80105em 7px rgba(172, 255, 0, 0.9), 1.93971em 1.80644em 7px rgba(255, 232, 0, 0.9), 1.10447em 0.98533em 7px rgba(192, 255, 0, 0.9), 2.10883em -0.05166em 7px rgba(0, 255, 59, 0.9), 1.97807em 0.4599em 7px rgba(0, 255, 83, 0.9), 0.80208em 1.96159em 7px rgba(0, 255, 77, 0.9), -0.09447em 0.22482em 7px rgba(62, 0, 255, 0.9), -0.30636em -0.08862em 7px rgba(18, 255, 0, 0.9), 1.817em 0.69664em 7px rgba(56, 0, 255, 0.9), 0.37513em 1.67009em 7px rgba(0, 117, 255, 0.9), 1.83697em 0.11929em 7px rgba(133, 255, 0, 0.9), 1.72739em 0.2427em 7px rgba(0, 86, 255, 0.9), 2.14557em 2.05433em 7px rgba(255, 102, 0, 0.9), 1.17959em 0.36052em 7px rgba(255, 0, 30, 0.9), -0.30806em -0.35916em 7px rgba(105, 0, 255, 0.9), 1.13711em 1.06895em 7px rgba(255, 0, 147, 0.9), 1.63801em 0.37961em 7px rgba(0, 246, 255, 0.9), 0.02357em 0.51763em 7px rgba(255, 4, 0, 0.9), 0.03704em 1.62909em 7px rgba(225, 0, 255, 0.9), 1.65929em 0.42782em 7px rgba(0, 255, 38, 0.9), 0.66889em 0.57296em 7px rgba(0, 255, 82, 0.9), 0.38321em -0.00743em 7px rgba(255, 157, 0, 0.9), 1.33999em 2.47835em 7px rgba(0, 12, 255, 0.9), -0.26288em 0.17124em 7px rgba(255, 153, 0, 0.9), -0.45406em 1.48857em 7px rgba(0, 2, 255, 0.9), 1.61373em 0.42595em 7px rgba(255, 0, 126, 0.9), 1.34881em 1.39403em 7px rgba(255, 0, 228, 0.9), 0.13039em -0.31481em 7px rgba(208, 0, 255, 0.9), -0.07828em 1.26909em 7px rgba(0, 255, 245, 0.9), 0.52811em 1.15737em 7px rgba(255, 207, 0, 0.9), 0.0775em 0.70955em 7px rgba(155, 0, 255, 0.9), -0.06274em 1.25175em 7px rgba(0, 59, 255, 0.9), 0.00565em 1.35547em 7px rgba(0, 255, 59, 0.9);
  animation-duration: 44s;
  animation-delay: -27s; }

body::after {
  text-shadow: 0.10396em 0.8953em 7px rgba(61, 255, 0, 0.9), -0.44134em 0.56727em 7px rgba(183, 0, 255, 0.9), 1.17119em 1.87272em 7px rgba(0, 45, 255, 0.9), 2.44072em 1.94783em 7px rgba(255, 0, 95, 0.9), -0.35962em -0.18851em 7px rgba(223, 255, 0, 0.9), 1.5986em 0.38061em 7px rgba(207, 255, 0, 0.9), 1.40838em 2.45548em 7px rgba(0, 28, 255, 0.9), 2.18883em 2.38818em 7px rgba(255, 166, 0, 0.9), 1.13872em 0.16964em 7px rgba(0, 230, 255, 0.9), 1.74081em 1.34355em 7px rgba(0, 255, 49, 0.9), 1.44416em 0.37709em 7px rgba(255, 0, 184, 0.9), 1.24298em 0.24141em 7px rgba(0, 255, 64, 0.9), -0.06656em 1.32519em 7px rgba(0, 255, 79, 0.9), 2.30753em -0.16082em 7px rgba(0, 124, 255, 0.9), 1.44833em 0.00711em 7px rgba(0, 222, 255, 0.9), 1.59991em 0.75007em 7px rgba(255, 0, 127, 0.9), 1.77118em 0.54092em 7px rgba(255, 0, 144, 0.9), -0.4722em 2.10227em 7px rgba(111, 0, 255, 0.9), 0.24088em 0.88173em 7px rgba(255, 223, 0, 0.9), 0.15266em 1.66664em 7px rgba(153, 0, 255, 0.9), 2.03087em 0.74171em 7px rgba(255, 155, 0, 0.9), 0.51352em 0.05924em 7px rgba(46, 0, 255, 0.9), 1.87512em 1.59422em 7px rgba(255, 139, 0, 0.9), 0.04014em -0.28143em 7px rgba(0, 255, 111, 0.9), -0.07503em 1.71571em 7px rgba(191, 0, 255, 0.9), 0.34189em 1.04624em 7px rgba(0, 255, 241, 0.9), 2.20835em 1.63454em 7px rgba(255, 146, 0, 0.9), 2.26669em -0.39371em 7px rgba(0, 213, 255, 0.9), 1.48991em 0.63728em 7px rgba(0, 31, 255, 0.9), 0.93699em 1.49111em 7px rgba(0, 43, 255, 0.9), 1.58097em 1.29916em 7px rgba(255, 0, 189, 0.9), 0.9408em 1.35057em 7px rgba(255, 0, 119, 0.9), 1.81665em 0.35081em 7px rgba(19, 0, 255, 0.9), -0.24879em 0.97937em 7px rgba(255, 255, 0, 0.9), 0.77696em -0.49196em 7px rgba(0, 173, 255, 0.9), 1.43926em 1.05308em 7px rgba(255, 0, 255, 0.9), 2.39782em 1.25819em 7px rgba(211, 255, 0, 0.9), 0.65901em 0.26941em 7px rgba(0, 255, 187, 0.9), -0.42111em 1.88405em 7px rgba(0, 255, 155, 0.9), -0.03443em 1.6181em 7px rgba(240, 255, 0, 0.9), 0.63832em 0.44555em 7px rgba(148, 0, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s; }

head::before {
  text-shadow: 2.21693em 1.19849em 7px rgba(173, 255, 0, 0.9), 2.34973em -0.22759em 7px rgba(171, 255, 0, 0.9), 1.91526em 1.34176em 7px rgba(255, 43, 0, 0.9), 1.38525em 0.00808em 7px rgba(255, 61, 0, 0.9), 1.74952em 1.39254em 7px rgba(144, 255, 0, 0.9), 0.09206em 0.98889em 7px rgba(135, 0, 255, 0.9), -0.17015em 0.44404em 7px rgba(118, 255, 0, 0.9), 2.18053em 0.81869em 7px rgba(255, 0, 59, 0.9), 0.81934em 0.85446em 7px rgba(255, 45, 0, 0.9), -0.16317em -0.42015em 7px rgba(0, 255, 216, 0.9), -0.29268em 0.13496em 7px rgba(255, 0, 103, 0.9), -0.36774em -0.12157em 7px rgba(0, 240, 255, 0.9), 2.4811em 2.45035em 7px rgba(28, 255, 0, 0.9), 1.89915em 0.89525em 7px rgba(160, 255, 0, 0.9), 1.29215em 0.93259em 7px rgba(0, 255, 90, 0.9), 2.43643em 0.78015em 7px rgba(0, 48, 255, 0.9), -0.25425em -0.43694em 7px rgba(255, 0, 82, 0.9), -0.0087em 0.78875em 7px rgba(255, 208, 0, 0.9), 1.85971em 0.47819em 7px rgba(129, 255, 0, 0.9), 0.59806em 0.02456em 7px rgba(130, 0, 255, 0.9), 1.92274em 2.06643em 7px rgba(0, 255, 33, 0.9), 2.07097em 0.94621em 7px rgba(200, 255, 0, 0.9), 0.04843em 2.11549em 7px rgba(128, 255, 0, 0.9), 2.39558em 2.39657em 7px rgba(255, 30, 0, 0.9), -0.19409em 1.21038em 7px rgba(0, 35, 255, 0.9), 0.59134em 2.24977em 7px rgba(255, 0, 20, 0.9), 0.64934em 1.43765em 7px rgba(0, 255, 209, 0.9), 1.1914em 1.6309em 7px rgba(0, 167, 255, 0.9), 0.60321em 1.21052em 7px rgba(115, 255, 0, 0.9), 0.91174em 1.52086em 7px rgba(0, 255, 172, 0.9), 1.4009em 1.54372em 7px rgba(204, 255, 0, 0.9), -0.14469em 0.30747em 7px rgba(0, 255, 183, 0.9), 0.78348em 0.14914em 7px rgba(255, 0, 124, 0.9), 0.05864em 1.06336em 7px rgba(127, 255, 0, 0.9), 2.12638em -0.454em 7px rgba(255, 20, 0, 0.9), -0.42696em 0.13118em 7px rgba(0, 173, 255, 0.9), -0.21242em 0.58578em 7px rgba(168, 0, 255, 0.9), 0.95338em -0.28449em 7px rgba(0, 154, 255, 0.9), 2.41628em 0.92706em 7px rgba(255, 0, 105, 0.9), 0.87006em 1.47355em 7px rgba(0, 227, 255, 0.9), 1.88854em 1.74701em 7px rgba(227, 0, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s; }

head::after {
  text-shadow: 0.99506em 1.34683em 7px rgba(0, 219, 255, 0.9), 1.0035em 2.1095em 7px rgba(6, 0, 255, 0.9), 0.49784em -0.1549em 7px rgba(0, 220, 255, 0.9), 0.68403em -0.38851em 7px rgba(0, 217, 255, 0.9), 1.88212em 2.17256em 7px rgba(255, 226, 0, 0.9), 2.2049em 2.16458em 7px rgba(0, 255, 37, 0.9), 1.07008em 2.15916em 7px rgba(198, 255, 0, 0.9), 0.4786em 2.03662em 7px rgba(255, 0, 208, 0.9), 1.56048em 1.47442em 7px rgba(22, 0, 255, 0.9), 1.24397em 0.58216em 7px rgba(255, 0, 129, 0.9), 0.87552em -0.24437em 7px rgba(255, 123, 0, 0.9), 0.49573em 2.25577em 7px rgba(0, 13, 255, 0.9), -0.20738em 1.09765em 7px rgba(255, 0, 121, 0.9), 2.26167em 0.67939em 7px rgba(0, 103, 255, 0.9), 0.86667em 1.81905em 7px rgba(255, 157, 0, 0.9), 1.60671em -0.14468em 7px rgba(0, 255, 209, 0.9), 1.08465em 0.71132em 7px rgba(255, 0, 100, 0.9), 1.8755em 0.01617em 7px rgba(114, 255, 0, 0.9), 0.65385em 1.18709em 7px rgba(0, 255, 1, 0.9), -0.3264em 2.42056em 7px rgba(0, 110, 255, 0.9), 1.43322em -0.34126em 7px rgba(45, 0, 255, 0.9), 0.8829em 0.62249em 7px rgba(0, 255, 83, 0.9), 2.03895em 0.3098em 7px rgba(255, 158, 0, 0.9), -0.43588em 1.5013em 7px rgba(0, 253, 255, 0.9), 0.56003em -0.45725em 7px rgba(255, 0, 57, 0.9), -0.36791em 0.11278em 7px rgba(0, 255, 208, 0.9), -0.1997em 1.22891em 7px rgba(255, 10, 0, 0.9), 2.38292em -0.20253em 7px rgba(0, 255, 136, 0.9), 0.29106em 1.85955em 7px rgba(0, 255, 233, 0.9), -0.28093em 0.79002em 7px rgba(255, 3, 0, 0.9), 1.9551em -0.10272em 7px rgba(241, 255, 0, 0.9), 0.34315em 2.36677em 7px rgba(255, 63, 0, 0.9), 1.69228em 0.45542em 7px rgba(0, 50, 255, 0.9), 2.25682em 0.12705em 7px rgba(0, 121, 255, 0.9), -0.4946em 2.08654em 7px rgba(0, 255, 91, 0.9), 0.12087em 0.56933em 7px rgba(255, 142, 0, 0.9), 1.4133em 0.70115em 7px rgba(0, 255, 14, 0.9), 0.52772em 2.17874em 7px rgba(237, 0, 255, 0.9), 0.21769em -0.29559em 7px rgba(32, 255, 0, 0.9), 2.34805em 1.3388em 7px rgba(94, 0, 255, 0.9), 0.70971em 1.49363em 7px rgba(30, 255, 0, 0.9);
  animation-duration: 41s;
  animation-delay: -19s; }

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px); }
  to {
    transform: rotate(360deg) scale(18) translateX(20px); } }

html {
  font-family: 'Cairo', sans-serif; }

.main-index {
  color: #bb86fc;
  display: grid;
  position: relative;
  z-index: 2;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "landing landing" "app-container contador-container" "menu-container menu-container";
  justify-content: center; }

h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #FF0080;
  font-size: 5rem;
  -webkit-animation: jackInTheBox 2s;
  animation: jackInTheBox 2s;
  margin: 2rem;
  font-weight: 700; }

h2 {
  color: #bb86fc;
  padding: 2rem;
  margin: 2rem;
  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
  text-align: center;
  font-size: 3rem;
  font-weight: 500; }

h3 {
  color: #FF0080;
  padding: 2rem;
  margin: 2rem;
  letter-spacing: 0.5rem;
  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
  text-align: center;
  font-weight: bold 900; }

.instruct {
  margin: 1rem; }

p {
  margin: 3rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: #FF0080; }

.menu-container {
  display: grid;
  grid-area: menu-container;
  color: #bb86fc;
  background-color: #1F1B24;
  margin: 3rem;
  position: relative;
  justify-self: center;
  text-align: center;
  line-height: 3rem;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2;
  z-index: 2; }
  .menu-container a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700; }
  .menu-container a:hover {
    color: #FF0080; }

/*Neon buttons */
.general-ico {
  color: #cf2095;
  margin-top: 2rem;
  -webkit-filter: drop-shadow(0.05em 0.05em 0.1em #FF0080);
  filter: drop-shadow(#FF0080); }

.neon-button {
  font-weight: 500;
  color: #cf2095;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: #cf2095 0.125em solid;
  padding: 0.50em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em #ca84ca, 0 0 0.45em #cf2095;
  box-shadow: inset 0 0 0.6em 0 #cf2095, 0 0 0.6em 0 #cf2095;
  position: relative; }

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #cf2095;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.3);
  filter: blur(1.2em);
  opacity: 0.7; }

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2em 0.5em #cf2095;
  opacity: 0;
  background-color: #cf2095;
  z-index: -1;
  transition: opacity 100ms linear; }

.neon-button:hover, :focus {
  text-shadow: none;
  text-decoration: none;
  z-index: 0;
  color: black; }

.neon-button:hover::before {
  opacity: 1; }

.neon-button:hover::after {
  opacity: 1; }

.ui-button {
  padding: 0.3em;
  text-align: center; }

.sube:active {
  -webkit-animation: fadeOutUp 2s;
  animation: fadeOutUp 2s; }

input {
  background: none; }

.nada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  -webkit-animation: zoomInRight 2s;
  animation: zoomInRight 2s; }

@media only screen and (max-width: 1065px) {
  .main-index {
    display: flex;
    flex-direction: column; }
    .main-index .landing {
      grid-template-columns: 1fr;
      grid-template-areas: "landingtext";
      margin-top: -8rem;
      margin-bottom: 5rem; }
      .main-index .landing .landing-text {
        padding-top: 5rem;
        padding-bottom: 10rem; }
      .main-index .landing .landingimg {
        display: none; }
    .main-index .contador-container {
      display: flex;
      flex-direction: column;
      margin: 2rem;
      margin-top: 3rem; }
      .main-index .contador-container h2 {
        font-size: 2.5rem;
        overflow: hidden; }
  .app-container {
    display: flex;
    flex-direction: column; }
    .app-container h2 {
      font-size: 2.5rem;
      overflow: hidden; }
  .neon-button::before {
    transform: perspective(1em) rotateX(40deg) scale(1, 0.2); }
  h1 {
    font-size: 10vw;
    overflow: hidden; }
  h2 {
    font-size: 5vw;
    overflow: hidden; } }

@media only screen and (max-width: 500px) {
  .menu-container {
    margin: 1rem; }
  .formu-container {
    margin: 1rem; } }

@media only screen and (max-width: 960px) {
  a {
    font-size: 5vw; } }

header {
  position: sticky;
  z-index: 3;
  /* MENU DE NAVEGACION */ }
  header .qrar {
    display: flex;
    max-width: 200%;
    max-height: 8rem;
    -webkit-filter: drop-shadow(0.2em 0.2em 0.2em #000000);
    filter: drop-shadow(#000000);
    -webkit-animation: jackInTheBox 2s;
    animation: jackInTheBox 2s; }
  header .menu {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 0rem;
    margin-right: 3rem; }

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  margin-right: 3rem;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .main-menu ul::marker {
    display: none; }
  .main-menu li {
    margin: 1rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
    -webkit-animation: fadeInDown 2s;
    animation: fadeInDown 2s; }
    .main-menu li a {
      font-size: 1.5rem;
      margin-right: 2rem;
      display: inline-block;
      text-decoration: none;
      color: #FF0080;
      font-weight: 300; }
    .main-menu li a:hover {
      filter: drop-shadow(#cf2095);
      -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
      -webkit-animation: flash 4s;
      animation: flash 4s; }
    .main-menu li a:active {
      -webkit-animation: fadeOutUp 2s;
      animation: fadeOutUp 2s; }
  .main-menu li:active {
    -webkit-animation: fadeOutUp 2s;
    animation: fadeOutUp 2s; }

ul.show {
  top: 65px; }

.open-menu {
  font-size: 3rem;
  margin: 1rem;
  display: none;
  cursor: pointer;
  color: #FF0080;
  -webkit-filter: drop-shadow(0.2em 0.2em 0.2em #000000);
  filter: drop-shadow(#000000);
  position: sticky;
  z-index: 3;
  top: 0; }

.close-menu {
  font-size: 3rem;
  display: none;
  cursor: pointer;
  color: #FF0080; }

@media only screen and (max-width: 960px) {
  .main-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgba(30, 22, 41, 0.52);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: top 1s ease;
    display: none; }
    .main-menu .close-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2rem;
      color: #FF0080; }
    .main-menu li a {
      font-weight: 400;
      -webkit-filter: drop-shadow(0.2em 0.2em 0.2em #000000);
      filter: drop-shadow(#000000);
      -webkit-animation: fadeInDown 2s;
      animation: fadeInDown 2s; }
    .main-menu li a:hover {
      background: none;
      color: #FF0080;
      font-size: 1.6rem; }
  .open-menu {
    display: block;
    color: #FF0080;
    font-size: 3rem;
    position: sticky;
    z-index: 3;
    top: 0; }
  .close-menu {
    display: block;
    position: absolute;
    color: #FF0080; }
  li a:hover {
    background: none;
    font-size: 1.6rem; } }

/* LANDING   */
.landing {
  display: grid;
  grid-area: landing;
  color: #bb86fc;
  background-color: #1F1B24;
  margin-top: -7rem;
  margin-bottom: 5rem;
  position: relative;
  justify-self: center;
  text-align: center;
  line-height: 1rem;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2;
  z-index: 3;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "landingtext landingimg"; }
  .landing .landing-text {
    grid-area: landingtext;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center; }
    .landing .landing-text h1 {
      margin-top: -2rem; }
  .landing .fa-bullhorn {
    margin: 3rem;
    margin-left: 3rem;
    transform: rotate(-45deg);
    -webkit-filter: drop-shadow(0.05em 0.05em 0.1em #FF0080);
    filter: drop-shadow(#FF0080);
    animation: glow 2s infinite alternate; }

@keyframes glow {
  from {
    -webkit-filter: drop-shadow(0.05em 0.05em 0.1em #FF0080);
    filter: drop-shadow(#FF0080); }
  to {
    -webkit-filter: drop-shadow(0.2em 0.2em 0.3em #FF0080);
    filter: drop-shadow(#FF0080); } }

.landingimg {
  display: grid;
  grid-area: landingimg;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 3rem; }

@media only screen and (max-width: 1300px) {
  .landingimg {
    margin-top: 10rem; } }

svg#freepik_stories-qr-code:not(.animated)
.animated {
  opacity: 0; }

svg#freepik_stories-qr-code.animated #freepik--Wall--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s; }
  svg#freepik_stories-qr-code.animated #freepik--Wall--inject-2 svg#freepik_stories-qr-code.animated #freepik--qr-code--inject-2 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn, 3s Infinite linear heartbeat;
    animation-delay: 0s,1s; }
  svg#freepik_stories-qr-code.animated #freepik--Wall--inject-2 svg#freepik_stories-qr-code.animated #freepik--Character--inject-2 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
    animation-delay: 0s; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes heartbeat {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0; }
  60% {
    transform: skewX(10deg);
    opacity: 1; }
  80% {
    transform: skewX(-2deg); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
  svg#freepik_stories-qr-code.animated #freepik--Wall--inject-2 .animator-hidden {
    display: none; }

.app-container {
  color: #bb86fc;
  background-color: #332940;
  display: grid;
  grid-area: app-container;
  margin: 2rem;
  margin-top: 2rem;
  position: relative;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: skewY(5deg); }
  .app-container .button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 1.5rem; }

.qr {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 1rem;
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
  transition: all 2s;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px); }

.qrimg {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 2rem;
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
  transition: all 2s; }

.contador-container {
  display: grid;
  grid-area: contador-container;
  color: #bb86fc;
  background-color: #332940;
  line-height: 3rem;
  position: relative;
  margin: 2rem;
  margin-top: 20rem;
  justify-self: center;
  line-height: 3rem;
  border-radius: 3rem;
  justify-content: center;
  text-align: center;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: skewY(-5deg); }

/*SCROLLBAR*/
/* Width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #121212; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF0080; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa075873; }

/* CONTACTO */
.my-input {
  color: white;
  border-radius: 1rem;
  font-size: 1.5rem;
  background: none;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 5rem;
  border: #cf2095 0.125em solid;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em #ca84ca, 0 0 0.45em #cf2095;
  box-shadow: inset 0 0 0.6em 0 #cf2095, 0 0 0.6em 0 #cf2095; }

.my-input::placeholder {
  color: #FF0080;
  opacity: 0.3; }

select {
  border-radius: 1rem;
  background: transparent; }
  select option {
    color: black; }

.formu-container {
  display: flex;
  margin: 3rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  border-radius: 3rem;
  background: rgba(187, 134, 252, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 3rem;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  z-index: 2; }

.g-3 {
  display: flex;
  margin: auto auto;
  margin-bottom: 3rem;
  padding: 3rem;
  color: #bb86fc;
  font-size: 1rem; }

.formu {
  color: #bb86fc;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  position: relative;
  padding: 5rem;
  line-height: 2.5rem;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  z-index: 3; }

.form-check {
  text-align: left; }

.fa-history {
  color: #cf2095; }

/* PINTA */
.fa-glass-martini-alt {
  transform: rotate(-45deg);
  -webkit-filter: drop-shadow(0.05em 0.05em 0.1em #FF0080);
  filter: drop-shadow(#FF0080); }

.maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "paleta1 paleta2" "paleta3 paleta4";
  align-items: center;
  justify-items: center;
  justify-self: center;
  justify-content: space-between;
  -webkit-animation: fadeInUp 2s;
  animation: fadeInUp 2s;
  z-index: 3; }
  .maps p {
    text-align: center; }

.map1 {
  grid-area: paleta1;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  max-width: 70%;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map2 {
  grid-area: paleta2;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  max-width: 70%;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map3 {
  grid-area: paleta3;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  max-width: 70%;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map4 {
  grid-area: paleta4;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 15rem;
  height: 15rem;
  max-width: 70%;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .3s ease-in-out; }

.map1:hover {
  transform: scale(1.5);
  z-index: 1; }

.map2:hover {
  transform: scale(1.5);
  z-index: 1; }

.map3:hover {
  transform: scale(1.5);
  z-index: 1; }

.map4:hover {
  transform: scale(1.5);
  z-index: 1; }

/* HISTORIA */
.paletasColores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "paleta1 paleta2" "paleta3 paleta4";
  justify-items: center;
  justify-self: center;
  justify-content: center;
  margin: 1rem;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  z-index: 3; }
  .paletasColores p {
    margin: auto; }

.paleta1 {
  grid-area: paleta1;
  color: whitesmoke;
  background-color: #FF0080;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

.paleta2 {
  grid-area: paleta2;
  color: whitesmoke;
  background-color: #bb86fc;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

.paleta3 {
  grid-area: paleta3;
  color: whitesmoke;
  background-color: #332940;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

.paleta4 {
  grid-area: paleta4;
  color: whitesmoke;
  background-color: #121212;
  display: grid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin: 1rem; }

/* QUEES */
.qrarch {
  justify-self: center;
  align-items: center;
  width: 40%;
  min-width: 25rem;
  opacity: 0.8;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5rem; }

table {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 3rem;
  -webkit-animation: fadeInUp 2s;
  animation: fadeInUp 2s;
  z-index: 2; }
  table th {
    padding: 0.5rem;
    color: #03dac5;
    background-color: #332940;
    font-size: 1.5rem;
    background: rgba(187, 134, 252, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.18); }
  table td {
    color: #cf2095;
    font-weight: 500;
    font-size: 1rem;
    filter: drop-shadow(black);
    padding: 0.5rem;
    background-color: #332940;
    background: rgba(187, 134, 252, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.18); }

.textSquare {
  background-color: #332940;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  position: relative;
  padding: 1rem;
  border-radius: 3rem; }

footer {
  display: grid;
  grid-area: footer;
  border-radius: 1rem;
  position: relative;
  background: rgba(44, 4, 76, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2; }

.redes {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: #03dac5;
  font-size: 1rem;
  border-radius: 3rem; }

.redes ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding: 20px; }

.redes a {
  text-decoration: none;
  color: #03dac5;
  align-content: center;
  margin-top: 3rem;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080); }

.igimg {
  width: 1.5rem;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080); }

.igimg:hover {
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: none;
  -webkit-animation: flash 4s;
  animation: flash 4s; }

.fbimg {
  width: 1.5rem;
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: drop-shadow(#FF0080); }

.fbimg:hover {
  -webkit-filter: drop-shadow(3px 3px 2px #FF0080);
  filter: none;
  -webkit-animation: flash 4s;
  animation: flash 4s; }
