.app-container {
    color: #bb86fc;
    background-color: #332940;
    display: grid;
    grid-area: app-container;
    margin: 2rem;
    margin-top: 2rem;
    position: relative;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    border-radius: 3rem;
    background: rgba( 187, 134, 252, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transform: skewY(5deg);
    .button-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin: 1.5rem;
        
    }
 

}


.qr {
    
    display: flex;
    flex-direction: column; 
    border-radius: 3rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 1rem;
    -webkit-animation: bounceInDown 2s;
    animation: bounceInDown 2s;
    transition: all 2s;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
   
}

.qrimg {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 2rem;
    -webkit-animation: bounceInDown 2s;
    animation: bounceInDown 2s;
    transition: all 2s;
    
}


.contador-container {
    display: grid;
    grid-area: contador-container;
    color: #bb86fc;
    background-color: #332940;
    line-height: 3rem;
    position: relative;
    margin: 2rem;
    margin-top: 20rem;
    justify-self: center;
    line-height: 3rem;
    border-radius: 3rem;
    justify-content: center;
    text-align: center;
    border-radius: 3rem;
    background: rgba( 187, 134, 252, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transform: skewY(-5deg);

}