/* CONTACTO */

input {

    border-radius: 1rem;
    width: 25rem;
    height: 35%;
    font-size: 2rem;
}




select {

    border-radius: 1rem;
}


.formu-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto auto;
    border-radius: 3rem;
    background: rgba( 187, 134, 252, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 3rem;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.g-3 {
    display: flex;
    margin: 3rem;
    padding: 3rem;
    color: #bb86fc;
}

.formu {
    color: #bb86fc;
    display:flex;
    flex-direction: column;
    margin: auto auto;
    position:relative;
    padding: 5rem;
    line-height: 2.5rem;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.checkbox {
    flex-direction: row;
}

.fa-glass-martini-alt {
    transform: rotate(-45deg);
    -webkit-filter: drop-shadow(0.05em 0.05em 0.1em #FF0080);   
    filter: drop-shadow(#FF0080);
}