//
// Media Queries
//
@media only screen and (max-width: 1065px) {




	.main-index {
		display: flex;
		flex-direction: column;


	  
	
		.landing{

			grid-template-columns: 1fr;
			grid-template-areas:"landingtext";
			margin-top: -8rem;
			margin-bottom: 5rem;
			.landing-text{
				padding-top: 5rem;
				padding-bottom: 10rem;
			}
			.landingimg{
				display: none;
			}

			
		}
		.contador-container{

			display: flex;
			flex-direction: column;
			margin: 2rem;
			margin-top: 3rem;
			h2 {
				font-size: 2.5rem;
				overflow:hidden
		
			 }

	}

	}

	.app-container {
		display: flex;
		flex-direction: column;

		h2 {
			font-size: 2.5rem;
			overflow:hidden
	
		 }

	}



	.neon-button::before {
		transform: perspective(1em) rotateX(40deg) scale(1, 0.2);
	}


	h1 {
		font-size: 10vw;
		overflow:hidden


	 }
  
	 h2 {
		font-size: 5vw;
		overflow:hidden

	 }





}

@media only screen and (max-width: 960px) {
	a {
		font-size: 5vw;
	}
}

@media only screen and (max-width: 500px) {



	.menu-container {
		margin: 1rem;

	}

	.formu-container {
		margin: 1rem;

	}

	.my-input {
		color: white;
		border-radius: 1rem;
		font-size: 1.5rem;
		background: none;
		box-sizing: border-box;

	}

	.app-container {
		.my-input {
			width: 80vw;
		}
	}
}



