body {
  color: #bb86fc;
  background-color: #121212;
  background-image: /*linear-gradient(to bottom, rgba( 187, 134, 252, 0.05 ), rgba( 255, 0, 128, 0.25 )),*/
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)),
      url("../images/backg.jpg");
  font-family: 'Cairo', sans-serif;
  font-weight: 200;
  z-index: 1;
}

@mixin dots($count) {
    $text-shadow: ();
    @for $i from 0 through $count {
      $text-shadow: $text-shadow,
                   (-.5+(random()) * 3) + em
                   (-.5+(random()) * 3) + em
                   7px
                   hsla(random() * 360, 100%, 50%,.9);
    }
    text-shadow: $text-shadow;
  }
  
  html {
    background: #123;
  }
  
  body, head {
    background-size: 200%;
    display: block;
    font-size: 52px;
    color: transparent;
    z-index: 1;
  }
  
  head::before, head::after,
  body::before, body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  
  body::before {
    @include dots(40);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  body::after {
    @include dots(40);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  head::before {
    @include dots(40);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    @include dots(40);
    animation-duration: 41s;
    animation-delay: -19s;
  }

  
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }
  

  

html {
  font-family: 'Cairo', sans-serif
}

.main-index {
  color: #bb86fc;;
  display: grid;
  position: relative;
  z-index: 2;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "landing landing" "app-container contador-container" "menu-container menu-container";
  justify-content: center;
  
}

h1{
  display: flex;
  align-content: center;
  justify-content: center;
  color: #FF0080;
  font-size: 5rem;
  -webkit-animation: jackInTheBox 2s;
  animation: jackInTheBox 2s;
  margin: 2rem;
  font-weight: 700;
}

h2 {
  color: #bb86fc;
  padding: 2rem;
  margin: 2rem;
  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  color: #FF0080;
  padding: 2rem;
  margin: 2rem;
  letter-spacing: 0.5rem;
  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
  text-align: center;
  font-weight: bold 900;
}

.instruct {
  margin: 1rem;
}

p {
  margin: 3rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: #FF0080;
}





.menu-container {
  display: grid;
  grid-area: menu-container;
  color: #bb86fc;
  background-color: #1F1B24;
  margin: 3rem;
  position: relative;
  justify-self: center;
  text-align: center;
  line-height: 3rem;
  border-radius: 3rem;
  background: rgba( 187, 134, 252, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2;
  z-index: 2;
  a {
      text-decoration: none;
      color: whitesmoke;
      font-weight:700;

  }
  a:hover {
      color: #FF0080;
  }
}

/*Neon icons & buttons */
$neon: 	#cf2095;

.general-ico {
  color: $neon;
  margin-top: 2rem;
  -webkit-filter: drop-shadow(0.05em 0.05em 0.1em #FF0080);   
  filter: drop-shadow(#FF0080);

}



.neon-button {
  font-weight: 500;
  color: $neon;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: $neon 0.125em solid;
  padding: 0.50em 1em;
  border-radius: 0.25em;

  text-shadow: 
  0 0 0.125em rgb(202, 132, 202),
  0 0 0.45em $neon;
  
  box-shadow: inset 0 0 0.6em 0 $neon,
  0 0 0.6em 0 $neon ;

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: $neon;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.30);
  filter: blur(1.2em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2em 0.5em $neon;
  opacity: 0;
  background-color: $neon;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover, :focus{
  text-shadow: none;
  text-decoration: none;
  z-index: 0;
  color: black;


}

.neon-button:hover::before {
  opacity: 1;

}

.neon-button:hover::after {
  opacity: 1;

}



.ui-button {
  padding: 0.3em;
  text-align: center;
}

.sube:active {
  -webkit-animation: fadeOutUp 2s;
  animation: fadeOutUp 2s;
}

input {
  background: none;
  
}

.nada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  -webkit-animation: zoomInRight 2s;
  animation: zoomInRight 2s;
}