body {
  color: #bb86fc;
  background-color: #121212;
  background-image: /*linear-gradient(to bottom, rgba( 187, 134, 252, 0.05 ), rgba( 255, 0, 128, 0.25 )),*/
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)),
      url("../images/backg.jpg");
  font-family: 'Cairo', sans-serif;
  font-weight: 200;
  z-index: 1;
}

@mixin dots($count) {
    $text-shadow: ();
    @for $i from 0 through $count {
      $text-shadow: $text-shadow,
                   (-.5+(random()) * 3) + em
                   (-.5+(random()) * 3) + em
                   7px
                   hsla(random() * 360, 100%, 50%,.9);
    }
    text-shadow: $text-shadow;
  }
  
  html {
    background: #123;
  }
  
  body, head {
    background-size: cover;
    display: block;
    font-size: 52px;
    color: transparent;
    z-index: 1;
  }
  
  head::before, head::after,
  body::before, body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  
  body::before {
    @include dots(40);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  body::after {
    @include dots(40);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  head::before {
    @include dots(40);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    @include dots(40);
    animation-duration: 41s;
    animation-delay: -19s;
  }
  
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }
  