/* WEB EN CONSTRUCCION*/
@import "body";
@import "header";
@import "app";
@import "scrollbar";
@import "contacto";
@import "pinta";
@import "historia";
@import "quees";
@import "footer";


.alert {
    background-color: #bb86fc;
    color: #FF0080;
}




main {
    color: #bb86fc;;
    display: grid;
    position: relative;
    z-index: 2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "app-container contador-container" "menu-container menu-container";
    justify-content: center;
    
}




h2 {
    color: #bb86fc;
    padding: 2rem;
    margin: 2rem;
    letter-spacing: 0.5rem;
    -webkit-animation: fadeInDown 2s;
    animation: fadeInDown 2s;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
}

p {
    margin: 3rem;
    font-family: 'Cairo', sans-serif;
    color: #bb86fc;
}





.menu-container {
    display: grid;
    grid-area: menu-container;
    color: #bb86fc;
    background-color: #1F1B24;
    margin: 3rem;
    position: relative;
    justify-self: center;
    text-align: center;
    line-height: 3rem;
    border-radius: 3rem;
    background: rgba( 187, 134, 252, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2;
    z-index: 3;
    a {
        text-decoration: none;
        color: cadetblue;

    }
    a:hover {
        color: #FF0080;
    }
}

h1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    -webkit-animation: jackInTheBox 2s;
    animation: jackInTheBox 2s;
    margin: 1rem;
}


.buton {
    border-radius: 3rem;
    background-color: #332940;
    color: #FF0080;     
    background: rgba( 187, 134, 252, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 5fr;
    transition: all 2s
}

.buton:hover {

    color: #FF0080;
    -webkit-filter: drop-shadow(3px 3px 2px #FF0080);      
    filter: drop-shadow( #FF0080); 
    margin: 3px;
    transform: scale(1.1,1);
}

.butonMenu  {
    display: flex;
    margin: 3rem;
}

.butonMenu:hover {

    color: #FF0080;
    -webkit-filter: drop-shadow(3px 3px 2px #FF0080);      
    filter: drop-shadow( #FF0080); 
    
}

a {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;   
    text-decoration: none;
    color: #FF0080;
    font-size: 1.2rem;
    font-family: 'Cairo', sans-serif;
}







